$principal-font: Verdana;
$secondary-font: sans-serif;
$principal-color: red;
$second-color: darken($principal-color, 25%);
$three-color: lighten($principal-color, 25%);
$shadow-left:  -10px 10px 10px grey;
$borde: none;