$principal-font: helvetica;
$secondary-font: arial;
$principal-color: rgb(23, 51, 175);
$second-color: darken($principal-color, 25%);
$three-color: lighten($principal-color, 25%);
$shadow-left:  10px 10px 10px grey;
$borde: 5px;